* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1024px;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
}

.float-left {
    float: left;
}

.menu-navigazione {
    margin-bottom: 30px;
}

.jumbotron {
    margin-bottom: 30px;
    background-position: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    url("../img/banner.jpg");
}

.testo-jumbotron {
    padding: 250px 130px 20px 40px;
    color: white;
}

.second-section-title {
    font-size: 2em;
}

.heading-main-container {
    margin-bottom: 20px;
}

.section-main-container {
    height: 100%;
}

.main-container {
    height: 450px;
}

.asides {
    width: 20%;
    height: 100%;
}

.middle-side {
    width: calc(60% - 20px);
    height: 100%;
    margin: 0 10px 0 10px;
}

.mc-images {
    margin: 15px 0;
    height: 40%;
    background-size: cover;
    background-position: center;
}

.first-aside-image {
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    url("../img/img-1.jpg");
}

.second-aside-image {
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/img-3.jpg");
}

.middle-side-image {
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/banner-2.jpg");
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.logo {
    width: 15%;
}

.border-radius {
    border-radius: 10px;
}

.grey {
    color: rgb(122, 122, 122);
}

.heart-entity {
    color: red;
}

#main-header {
    height: 70px;
    margin-bottom: 30px;
}

#main-footer {
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}